<section class="min-h-screen" style="height: 100%">
  <app-nav>
    <div left-content class="d-flex align-items-center">
      <a
        (click)="goBack()"
        class="text-decoration-none text-dark d-flex align-items-center"
      >
        <i class="fas fa-arrow-left pr-4"></i>
        <h2
          class="fs-5 font-bold m-0 text-nowrap"
          style="color: var(--secondary)"
        >
          {{ paramCategory }}
        </h2>
      </a>
    </div>
    <div central-content>
      <!-- <a routerLink="/" class="logo">
        <img
          src="../../../assets/logo-rosa.webp"
          class="img-fluid"
          style="width: 4em"
          alt="error"
        />
      </a> -->
    </div>
    <div right-content>
      <!-- <a routerLink="/login" class="login-button">
        <i class="fas fa-bars"></i>
        <i class="fas fa-user fs-3"></i>
      </a> -->
    </div>
  </app-nav>

  <div>
    <app-category-filter
      [serviceTitle]="paramCategory"
      [filterCategories]="filterCategories"
      [serviceDescription]="serviceDescription"
      (filtersSubmitted)="onSubmit($event)"
    ></app-category-filter>
  </div>
</section>
