<section class="bg-gray-50 min-h-screen">
  <app-nav>
    <div left-content>
      <a (click)="goBack()" class="text-decoration-none text-dark">
        <i class="fas fa-arrow-left"></i> {{ titleCard }}
      </a>
    </div>
    <div central-content>
      <a routerLink="/" class="logo">
        <img
          src="../../../assets/logo-rosa.webp"
          class="img-fluid"
          style="width: 4em"
          alt="error"
        />
      </a>
    </div>
    <div right-content>
      <a routerLink="/login" class="login-button">
        <i class="fas fa-bars"></i>
        <i class="fas fa-user fs-3"></i>
      </a>
    </div>
  </app-nav>

  <div>
    <app-category-filter
      [serviceTitle]="'Pintura Residencial'"
      [filterCategories]="filterCategories"
      (filtersSubmitted)="onSubmit()"
    ></app-category-filter>
  </div>

  <div class="container d-flex justify-content-center align-items-center pb-3">
    <!-- <button routerLink="/" class="col-6 btn btn-outline-primary mt-3">
      Voltar
    </button> -->

    <!-- <button class="col-12 col-md-6 btn btn-primary mt-3" (click)="onSubmit()">
      Avançar
    </button> -->
  </div>
</section>

<!-- <app-footer></app-footer> -->
