<section id="about" class="container my-5 ">

  <div class="about-content">

    <div id="img-about" class="container" data-aos="fade-left" data-aos-duration="900">
      <div>
        <img loading="lazy" src="../../../assets/about-imgs.svg" style="margin-top: 1em;" class="img-fluid" alt="" />
      </div>

    </div>
    <!-- <div id="img-about2">
      <img loading="lazy" src="../../../assets/people.png" style="margin-top: 1em;" class="img-fluid" alt="" />
    </div> -->



    <div class="left-content">

      <div id="content-section" class="content container" data-aos="fade-right" data-aos-duration="900">
        <h1 class="h1-secondary">
          Guiamos Você <span class="highlight">Rumo</span> as <span class="highlight">Soluções</span> mais eficientes
        </h1>
        <p class="pb-3" style="font-size: larger">
          Somos a ponte entre você e os melhores profissionais do mercado. Com uma plataforma intuitiva e ágil,
          garantimos praticidade na busca por serviços, transparência na contratação e segurança em cada etapa do
          processo. Nosso compromisso é transformar suas necessidades em soluções."
        </p>
      </div>
    </div>
  </div>

  <div class="cards container">
    <div class="row">
      <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 mb-4" data-aos="fade-up" data-aos-duration="300">
        <div>
          <img src="../../../assets/Container.svg" class="mb-2" style="width: 100%;" alt="">
        </div>
        <div id="ui-card">
          <div class="card-ajust">
            <div class="icon-circle mb-4">
              <i class="fa-solid fa-car"></i>
            </div>
          </div>
          <h4>Nossa Missão</h4>
          <p>Conectar pessoas a profissionais qualificados, promovendo confiança e eficiência.</p>
        </div>
      </div>
      <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 mb-4" data-aos="fade-up" data-aos-duration="600">
        <div>
          <img src="../../../assets/Container-1.svg" class="mb-2" style="width: 100%;" alt="">
        </div>
        <div id="ui-card">
          <div class="card-ajust">
            <div class="icon-circle mb-4">
              <i class="fa-solid fa-spray-can-sparkles"></i>
            </div>
          </div>
          <h4>Nossa Visão</h4>
          <p>Ser a principal plataforma de serviços, reconhecida pela excelência e inovação.</p>
        </div>
      </div>
      <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 mb-4" data-aos="fade-up" data-aos-duration="900">
        <div>
          <img src="../../../assets/Container-2.svg" class="mb-2" style="width: 100%;" alt="">
        </div>
        <div id="ui-card">
          <div class="card-ajust">
            <div class="icon-circle mb-4">
              <i class="fa-solid fa-car-side"></i>
            </div>
          </div>
          <h4>Nosso Objetivo</h4>
          <p>Facilitar o dia a dia, proporcionando soluções práticas, rápidas e <br> eficientes.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="align-btn">
    <a type="button" class="btn btn-primary btn-lg ui-button mr-5" href="#reviews">
      Saiba mais
    </a>
  </div>
</section>