#about {
  padding-bottom: 0em;
  padding-top: 3em;
}

.about-content {
  display: flex;
}

.cards {
  margin-top: -10em;
  padding: 3em;
}

#ui-card {
  text-align: start;
  color: var(--secondary);
  padding: 25px 35px;
  background-color: var(--light);
  width: 100%;
  /* border: 1px solid #1f1f1f;  */
  border-radius: 10px;
  box-shadow: rgba(4, 6, 7, 0.1) 4px 9px 10px;
}

#ui-card:hover {

  background-color: var(--primary);
  /* color: black; */
  /* transform: translateY(-8px); */
  /* box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); */
  transform: translateY(-5px);
  /* Eleva o card ao passar o mouse */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  /* Aumenta a intensidade da sombra */
  /* border: 2px solid var(--light); */
}

#ui-card p {
  font-size: 15px;
}

.icon-circle {
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.card-ajust {
  display: flex;
  justify-content: flex-start;
}


#img-about {
  display: flex;
}

#img-about img {
  padding: 0px 0px;
}

#img-about2 {
  margin-top: 11em;
  margin-left: -20em;
}

#img-about2 img {
  width: 25em;
  /* border: 10px solid var(--secondary); */
  /* Cor dourada */
  /* border-radius: 10px; */
  /* Borda levemente arredondada */
}

.align-btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 998px) {
  .left-content {
    margin-top: 4em;
    margin-bottom: 10em;
  }

  .about-content {
    flex-direction: column;
  }

  .cards {
    padding: 0em;
  }
}