<!-- Site footer -->
<section>
  <div id="contato " style="padding: 0px 25px 0px 25px">
    <div class="container">
      <div
        class="align-title pt-5 d-flex flex-column"
        data-aos="fade-down"
        data-aos-duration="300"
      >
        <p class="title-detail text-center">Nossos contatos</p>
        <h1 class="pb-4 text-center">Contato</h1>
      </div>
      <hr class="mb-5" />

      <div id="footer-main-content" class="spacement">
        <div
          class="footer-content"
          data-aos="fade-down"
          data-aos-duration="900"
        >
          <div class="my-4 pb-3">
            <p class="pt-2">
              Entre em contato agora e esclareça todas suas dúvidas.<br
                class="d-none d-md-block"
              />
              Estamos sempre a disposição.
            </p>
          </div>

          <div
            class="contact-item d-flex flex-column flex-md-row align-items-center my-4"
          >
            <i class="fa-solid fa-location-dot mb-2 mb-md-0"></i>
            <p class="pt-2 text-center text-md-start">
              Endereço: R. Lavínia Ribeiro, 53a - Vila Diva, São Paulo - SP,
              03351-110
            </p>
          </div>

          <div
            class="contact-item d-flex flex-column flex-md-row align-items-center my-4"
          >
            <i class="fa-solid fa-phone mb-2 mb-md-0"></i>
            <h1 class="fs-1 fs-md-2 fs-lg-3 text-center text-md-start">
              (11) 97375-2898
            </h1>
          </div>
        </div>

        <div class="maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.8637330730467!2d-46.566988325713005!3d-23.573337062030255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5d8ecb0218ad%3A0xe1e3d396295855ba!2sMolinari%20Details!5e0!3m2!1spt-BR!2sbr!4v1730894755666!5m2!1spt-BR!2sbr"
            width="100%"
            height="300"
            style="border: 0; min-height: 200px"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
    <hr class="mb-5" />
  </div>
  <footer class="site-footer pb-5">
    <div class="flex-column">
      <div class="d-flex justify-content-center">
        <a href="#inicio">
          <img
            src="../../../assets/logo-rosa.webp"
            class="img-fluid"
            style="width: 10em"
            alt="error"
          />
        </a>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <p
          class="copyright-text"
          style="font-size: smaller; color: var(--secondary) !important"
        >
          Copyright &copy; Powered by
          <a href="https://www.instagram.com/hirle.og">Guilherme Hirle</a>.
        </p>
      </div>
    </div>
  </footer>
</section>
