<!-- Site footer -->
<!-- Conteúdo da página -->
<div class="container pt-5">
</div>

<footer id="footer" class="site-footer footer fixed-bottom">
  <div class="container d-flex justify-content-center p-1">
    <!-- <div>
      <p>a</p>
    </div> -->
    <div>
      <img loading="lazy" src="../../../assets/logo.png" class="container-fluid" alt="error" style="width:8em" />
    </div>
  </div>
  <!-- <div class="d-flex justify-content-center mt-5">
    <p class="copyright-text" >Copyright &copy; Powered by
      <a href="https://www.instagram.com/hirle.og">Guilherme Hirle</a>.
    </p>
  </div> -->
</footer>