section {
  /* background: #000; */
  border-radius: 20px;
  padding: 30px 0 0px;
  font-size: 15px;
  color: #737373;
  background-color: var(--background-light);
}

hr {
  background-color: var(--primary);
}

.site-footer hr {
  border-top-color: var(--primary);
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.align-title {
  display: flex;
  justify-content: center;
}

.d-flex i {
  margin: -10px 20px 24px 0px;
  font-size: 4em;
  color: var(--primary);
}

#footer-main-content {
  display: flex;
  justify-content: space-between;
}

.copyright-text {
  color: var(--secondary);
}

.title-detail {
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 18px;
  /* padding-bottom: 10px; */
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }

  #footer-main-content {
    flex-direction: column;
  }

  .maps {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
