<div class="hero-wrapper">
  <div class="carousel-container">
    <div
      *ngFor="let slide of slides; let i = index"
      class="slide"
      [class.active]="i === currentSlide"
      [style.background-image]="
        'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(' +
        slide.image +
        ')'
      "
    >
      <div class="hero-content" *ngIf="i === currentSlide" data-aos="fade-up">
        <span class="badge-app">{{ slide.badge }}</span>
        <h1>{{ slide.title }}</h1>
        <p>{{ slide.subtitle }}</p>

        <div class="hero-actions">
          <button class="btn-primary-hero" (click)="scrollToServices()">
            {{ slide.buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-indicators">
    <div
      *ngFor="let slide of slides; let i = index"
      class="indicator"
      (click)="setSlide(i)"
    >
      <div
        class="progress-bar"
        [class.filling]="i === currentSlide"
        [class.finished]="currentSlide > i && currentSlide !== -1"
      ></div>
    </div>
  </div>
</div>
