<section id="home" class="spacement">
  <div id="banner" class="row container">
    <!-- <video *ngIf="isVideoPlaying" #bannerVideo autoplay loop muted plays-inline></video>
    <video autoplay loop muted playsinline>
      <source src="../../../assets/hero-video2.mp4" type="video/mp4" />
      Seu navegador não suporta vídeos em HTML5.
    </video> -->

    <!-- !isVideoPlaying -->
    <!-- <img src="../../../assets/porche-banner.webp" alt="Banner Fallback" /> -->

    <div id="banner-text" class="content container col-md-6" data-aos="fade-down" data-aos-duration="900">
      <h1 class="main-title">
        Conectamos Você Aos <span class="highlight">Melhores</span> Profissionais<br />
      </h1>
      <p class="pb-3" style="font-size: larger">
        Conectamos você às melhores soluções! Seja para pequenos reparos, grandes projetos ou serviços especializados,
        encontre o profissional ideal em minutos. Simples, rápido e seguro.
      </p>
      <div id="hero-btn">
        <a href="https://wa.me/5511973752898?text=Olá, tudo bem? Gostaria de esclarecer algumas duvidas e saber mais sobre os serviços!"
          class="btn btn-primary btn-lg ui-button-wpp mr-5 ">
          Obter atendimento personalizado
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>
    </div>

    <div class="col-md-6" style="margin-top: 3em;" data-aos="fade-down" data-aos-duration="900">
      <img src="../../../assets/hero-2.webp" class="img-fluid" alt="">
    </div>
  </div>
</section>