<section>
  <app-nav>
    <!-- <a routerLink="/home" class="text-decoration-none text-dark" style="margin-right: 10px;">
      <i class="fas fa-arrow-left"></i>
    </a> -->
    <a routerLink="/" class="logo">
      <img src="../../../assets/logo-rosa.webp" class="img-fluid" style="width: 4em;" alt="error" />
    </a>

    <!-- <h3 class="m-0">Em andamento</h3> -->
    <div></div>

    <i class="fas fa-question-circle" style="font-size: 1.5em; color: var(--primary)"
      title="Clique para mais informações"></i>
  </app-nav>
  <!-- 
  <div id="budgets" class="container">
    <h4 class="text-start">Meus orçamentos</h4>

  </div> -->

  <div id="my-budgets" class="container">


    <!-- EXPETION PARA QUANDO NAO HOVER PERDIDOS PENDENTES -->
    <div class="d-flex align-items-center justify-content-center" style="height: 68vh;">
      <div class="d-flex flex-column align-items-center gap-3">

        <i class="fas fa-file-lines" style="font-size: 5em;"></i>
        <p class="fs-3">Você ainda não possui negociações</p>
        <button class="btn btn-primary mt-3 send-btn" routerLink="/">Anúnciar Gratís</button>
      </div>
    </div>

  </div>


</section>

<!-- Conteúdo da página -->
<div class="container mt-5 pt-5">
</div>