<section>
  <div
    *ngIf="
      showDiv &&
      ((prestadorIsLogged && isProfessional === true && !isEndFlow) ||
        (clienteIsLogged === true && isProfessional === false && !isEndFlow))
    "
  >
    <div class="d-flex align-items-center justify-content-around menu-fixo">
      <!-- Serviços -->
      <div
        class="menu-item"
        [class.active]="
          router.url ===
          (isProfessional || isProfileRoute ? '/tudu-professional/home' : '/')
        "
        (click)="
          switchRoute(
            isProfessional || isProfileRoute ? '/tudu-professional/home' : '/'
          )
        "
      >
        <i class="fas fa-search"></i>
        <p>Serviços</p>
      </div>

      <!-- Pedidos -->
      <div
        *ngIf="isProfessional === false && isProfileRoute === false"
        class="menu-item"
        [class.active]="router.url === '/home'"
        (click)="switchRoute('/home')"
      >
        <i class="fas fa-tasks"></i>
        <p>Pedidos</p>
      </div>

      <!-- Pendentes -->
      <div
        class="menu-item"
        [class.active]="
          router.url ===
          (isProfessional || isProfileRoute
            ? '/tudu-professional/progress'
            : '/home/progress')
        "
        (click)="
          switchRoute(
            isProfessional || isProfileRoute
              ? '/tudu-professional/progress'
              : '/home/progress'
          )
        "
      >
        <i class="fas fa-clock"></i>
        <p>Pendentes</p>
      </div>

      <!-- Perfil -->
      <div
        [ngClass]="profileActiveColor || isProfileRoute ? 'active' : 'inactive'"
        class="menu-item"
        (click)="goToProfile()"
      >
        <i class="fas fa-user fs-3"></i>
        <p>Perfil</p>
      </div>
    </div>
  </div>
</section>
