/* Estilos para o menu mobile */
.menu-fixo {
  position: fixed;
  bottom: -8px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1000;
}

.menu-fixo .menu-item {
  flex: 1;
  text-align: center;
  font-size: 24px;
  color: #333;
}

/* Estilos para o menu desktop */
.menu-item-desktop {
  color: #333;
  transition: all 0.2s ease;
  cursor: pointer;
}

.menu-item-desktop:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.menu-item-desktop.active {
  color: var(--primary);
  background-color: rgba(var(--primary-rgb), 0.1);
}

.active {
  color: var(--primary) !important;
  pointer-events: none !important;
  cursor: none;
}

.inactive {
  color: #333;
}

p {
  font-size: 12px;
}

.desktop-menu {
 /* background-color: rgb(137, 74, 255) !important; */
}
/* @media (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }
} */
