<section>
  <app-nav>
    <div left-content>
      <a (click)="goBack()" class="text-decoration-none text-dark">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>
    <div central-content>
      <a routerLink="/" class="logo">
        <img
          src="../../../assets/logo-rosa.webp"
          class="img-fluid"
          style="width: 4em"
          alt="error"
        />
      </a>
    </div>
    <div right-content>
      <!-- Botão de login -->
      <a routerLink="/login" class="login-button">
        <i class="fas fa-bars"></i>
        <i class="fas fa-user fs-3"></i>
      </a>
    </div>
  </app-nav>

  <div
    id="make-offer"
    class="d-flex flex-column justify-content-center"
    data-aos="fade-right"
  >
    <div class="container d-flex flex-column gap-4">
      <!-- Seta para voltar -->
      <div id="proposal-header" class="mb-3" style="cursor: pointer"></div>

      <div class="d-flex align-items-center justify-content-center mb-5">
        <h2 class="mb-0 fw-bold">Faça sua oferta</h2>
        <i
          class="fas fa-credit-card"
          style="color: #f80e6e; font-size: 24px; margin-left: 10px"
        ></i>
      </div>
      <div class="d-flex flex-column gap-2">
        <h2 class="mb-0 fw-bold text-start text-md-center">
          Defina um preço para esse serviço
        </h2>
        <p class="text-start text-md-center">
          Dica: O preço para montar custa entre 15% e 30% do valor do móvel
        </p>
      </div>

      <div>
        <div
          class="col-12 col-md-8 col-lg-5 p-0 custom-input-container container"
        >
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="price"
              placeholder="0,00"
              [disabled]="!!renegotiateActive"
            />
            <span class="input-group-text">.00</span>

            <!-- <button
            [ngClass]="{
              'change-renegotiate-btn': renegotiateActive
            }"
            class="btn btn-outline-secondary"
            type="button"
            id="btn-renegotiate"
            (click)="onPriceClose()"
          >
            <i
              class="fa"
              [ngClass]="!renegotiateActive ? 'fa-pencil' : 'fa-undo'"
            ></i>
          </button> -->
          </div>
        </div>

        <div class="col-12 col-md-8 col-lg-5 p-0 container" #calendarContainer>
          <div class="custom-input-container">
            <div class="input-group mb-3">
              <span class="input-group-text">#</span>
              <input
                [readonly]="true"
                type="datetime"
                class="form-control"
                aria-label="Amount (to the nearest dollar)"
                [(ngModel)]="dateTimeSelected"
                (click)="onCalendarClose()"
              />
              <span
                class="input-group-text"
                (click)="onCalendarClose()"
                style="width: 46.72px"
                ><i class="fas fa-calendar-alt"></i
              ></span>

              <!-- <button
              [ngClass]="{
                'change-renegotiate-btn': calendarActive
              }"
              class="btn btn-outline-secondary"
              type="button"
              id="btn-renegotiate"
              (click)="onCalendarClose()"
            >
              <i
                class="fas"
                [ngClass]="!calendarActive ? 'fa-calendar-alt' : 'fa-undo'"
              ></i>
            </button> -->
            </div>
          </div>

          <div style="z-index: 1001">
            <app-calendar
              [initialDateTime]="initialDateTime"
              [openCalendar]="calendarActive"
              [hasTime]="true"
              [showWeekView]="false"
              (dateSelected)="onDateSelected($event)"
              (timeSelected)="onTimeSelected($event)"
            >
            </app-calendar>
          </div>
        </div>
      </div>

      <!-- mudar para o proposalcomponente -->
      <form (ngSubmit)="createCard()" #cardForm="ngForm">
        <!-- Outros campos do formulário aqui, ex: título, preço, etc -->
        <input
          type="text"
          [(ngModel)]="cardTitle"
          name="cardTitle"
          placeholder="Título do Card"
          required
        />

        <!-- Input para selecionar uma ou mais imagens -->
        <input
          type="file"
          (change)="onFilesSelected($event)"
          multiple
          accept="image/*"
        />

        <!-- Preview das imagens selecionadas -->
        <div class="preview-images" *ngIf="selectedFiles.length > 0">
          <div
            *ngFor="let img of selectedPreviews; let i = index"
            class="preview-item"
          >
            <img [src]="img" alt="Imagem selecionada {{ i + 1 }}" width="100" />
          </div>
        </div>

        <button type="submit">Enviar Card</button>
      </form>

      <div>
        <p class="text-start text-md-center">
          Esse não é o valor final, você pode negociar diretamente com o
          prestador.
        </p>
      </div>
    </div>
  </div>

  <!-- Botão de envio -->
  <div class="container d-flex justify-content-center mt-5 gap-2 mb-5">
    <!-- <button class="btn btn-primary mt-3" data-bs-target="#formCarousel" data-bs-slide="prev">Voltar</button> -->

    <button (click)="goBack()" class="btn-ui btn-primary mt-3">Voltar</button>

    <!-- <button
      class="btn-ui btn-primary mt-3 send-btn"
      (click)="createCard()"
      style="background-color: var(--primary); color: white"
    >
      Avançar
    </button> -->
  </div>
</section>
