<app-nav></app-nav>
<!-- <app-hero id="home"></app-hero>
<app-about></app-about>
<app-client-reviews></app-client-reviews> -->

<!-- <router-outlet></router-outlet> -->
<div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

<!-- <app-menu></app-menu> -->
<!-- <app-services></app-services> -->
<!-- <app-footer></app-footer> -->

<div id="home-mobile" class="d-block d-md-none" *ngIf="showHomeMobile">

    <app-menu></app-menu>
</div>
<button id="setup_button"  onclick="installApp()">Installer</button>


<!-- <a href="#home" class="btn-topo"> &#x2191; </a>
<a href="https://wa.me/5511973752898?text=Olá, tudo bem? Gostaria de esclarecer algumas duvidas e saber mais sobre os serviços!"
    class="btn-whatsapp" target="_blank" style="position: fixed; right: 15px; bottom: 15px">
    <img src="https://i.ibb.co/VgSspjY/whatsapp-button.png" alt="botão whatsapp" />
</a> -->

