<section>

    <app-nav>
        <a routerLink="/" class="logo">
            <img
            src="../../../assets/logo-rosa.webp"
            class="img-fluid"
            style="width: 4em"
            alt="error"
            />
        </a>
        <div></div>
        
        <!-- Botão de login -->
        <a routerLink="/login" class="login-button">
            <i class="fas fa-bars"></i>
            <i class="fas fa-user fs-3"></i>
        </a>
    </app-nav>
    
    <!-- MFE -->
    <tudu-professional></tudu-professional>
</section>
