<section id="login" class="d-flex justify-content-center my-5">
    <div class="row container d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" [ngClass]="{'active-tab': selectedTab === 'login'}"
                                (click)="selectTab('login')" type="button">
                                Login
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" [ngClass]="{'active-tab': selectedTab === 'register'}"
                                (click)="selectTab('register')" type="button">
                                Cadastro
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <!-- Login Form -->
                    <div *ngIf="selectedTab === 'login'">
                        <h4 class="text-center mb-3">Bem-vindo de volta!</h4>
                        <p class="text-center mb-4 text-muted">Faça login para continuar sua jornada conosco.</p>
                        <form (ngSubmit)="onLogin()">
                            <div class="mb-3">
                                <label for="loginEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="loginEmail" [(ngModel)]="loginEmail"
                                    name="loginEmail" placeholder="Digite seu email" required>
                            </div>
                            <div class="mb-3">
                                <label for="loginPassword" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="loginPassword"
                                    [(ngModel)]="loginPassword" name="loginPassword" placeholder="Digite sua senha"
                                    required>
                            </div>
                            <button type="submit" style="color: white;" class="btn btn-primary w-100">Entrar</button>
                        </form>
                    </div>

                    <!-- Register Form -->
                    <div *ngIf="selectedTab === 'register'">
                        <h4 class="text-center mb-3">Crie sua Conta</h4>
                        <p class="text-center mb-4 text-muted">Cadastre-se agora para aproveitar todas as
                            funcionalidades!</p>
                        <form (ngSubmit)="onRegister()">
                            <div class="mb-3">
                                <label for="registerName" class="form-label">Nome Completo</label>
                                <input type="text" class="form-control" id="registerName" [(ngModel)]="registerName"
                                    name="registerName" placeholder="Digite seu nome completo" required>
                            </div>
                            <div class="mb-3">
                                <label for="registerEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="registerEmail" [(ngModel)]="registerEmail"
                                    name="registerEmail" placeholder="Digite seu email" required>
                            </div>
                            <div class="mb-3">
                                <label for="registerPassword" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="registerPassword"
                                    [(ngModel)]="registerPassword" name="registerPassword"
                                    placeholder="Digite sua senha" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirmar Senha</label>
                                <input type="password" class="form-control" id="confirmPassword"
                                    [(ngModel)]="confirmPassword" name="confirmPassword"
                                    placeholder="Confirme sua senha" required>
                            </div>
                        </form>

                        <div class="align-btn">
                            <button type="submit" style="color: white;" class="btn btn-success w-100">Cadastrar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>