<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title mb-3">Resumo do Pagamento</h5>

    <!-- Detalhes do pagamento -->
    <!-- <p class="card-text"><strong>Valor:</strong> {{ valorNegociado | currency:'BRL' }}</p> -->
    <p class="card-text"><strong>Valor:</strong> R$ 250.00</p>
    <!-- <p class="card-text"><strong>Descrição:</strong> {{ descricaoServico }}</p> -->
    <p class="card-text">
      <strong>Descrição:</strong> Preciso montar e desmontar um movel
    </p>

    <!-- Botão para iniciar o pagamento -->
    <div class="d-grid gap-2">
      <!-- <button class="btn btn-primary" (click)="iniciarPagamento()"> -->
      <button class="btn btn-primary" (click)="pagar()">
        <i class="fas fa-credit-card me-2"></i> Pagar com Mercado Pago
      </button>
    </div>
  </div>
</div>
