i {
  color: var(--primary);
}
.card-content {
  min-height: 100%; /* ajuste conforme necessário */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent !important;
}
