<section class="mb-12">
  <h2 class="text-xl font-semibold mb-6">Mais Pedidos</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="rounded-xl overflow-hidden shadow-md">
      <div class="card-content p-6">
        <div class="flex items-center mb-4">
          <div
            class="w-10 h-10 rounded-full flex items-center justify-center mr-4"
          >
            <i class="fas fa-broom fa-2x"></i>
          </div>
          <h3>Limpeza e Higienização</h3>
        </div>
        <p>
          Experimente nossos serviços exclusivos com qualidade superior e
          atendimento diferenciado.
        </p>
        <div class="d-flex justify-content-start">
          <button class="mt-4 px-4 py-2 btn btn-outline-primary">
            Contratar agora
          </button>
        </div>
      </div>
    </div>
    <div class="rounded-xl overflow-hidden shadow-md">
      <div class="p-6 card-content">
        <div class="flex items-center mb-4">
          <div
            class="w-10 h-10 rounded-full flex items-center justify-center mr-4"
          >
            <i class="fas fa-tools fa-2x"></i>
          </div>
          <h3>Reparos e Manutenção</h3>
        </div>
        <p>
          Aproveite nossas ofertas especiais com descontos exclusivos para você.
        </p>
        <div class="d-flex justify-content-start">
          <button class="mt-4 px-4 py-2 btn btn-outline-primary">
            Contratar agora
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
