<nav [ngClass]="{ 'hidden': scrolled }" data-aos="fade-down" class="navbar navbar-expand-lg navbar-light">

  <div class="collapse navbar-collapse" data-aos="fade-down" data-aos-duration="1000" id="ajustes">
    <div id="burger" style="display: flex; justify-content: flex-start; padding-top: -10px">
      <i data-aos="fade-down" (click)="menu()" class="fa-solid fa-bars"></i>
    </div>

    <div class="navbar-brand" style="display: flex">
      <div class="container">
        <a href="#inicio">
          <img src="../../../assets/logo.png" class="container-fluid" alt="error" style="width: 8em" />
        </a>
      </div>
    </div>

    <div id="fake"></div>
  </div>

  <div class="hide-menu" style="display: flex; justify-content: flex-start">
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#home">Página Inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#about">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#services">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#reviews">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#contato">Contato</a>
      </li>
    </ul>
  </div>
  <div>


    <!-- <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active"></a> -->

    <button id="button-login" routerLink="/login" routerLinkActive="active">
      <li class="fas fa-sign-in-alt" style="color: var(--light); font-size: 2em;"></li>
    </button>


  </div>
</nav>

<div data-aos="fade-right" class="side-bar" *ngIf="openClose">
  <div class="container">
    <div>
      <ul class="navbar-nav">
        <li class="side-item">
          <a (click)="menu()" class="nav-link active" aria-current="page" href="#home">Pagina Inicial</a>
        </li>
        <li class="side-item">
          <a (click)="menu()" class="nav-link active" aria-current="page" href="#about">Sobre</a>
        </li>
        <li class="side-item">
          <a (click)="menu()" class="nav-link active" aria-current="page" href="#services">Serviços</a>
        </li>
        <li class="side-item">
          <a (click)="menu()" class="nav-link active" aria-current="page" href="#reviews">Clientes</a>
        </li>
        <li class="side-item">
          <a (click)="menu()" class="nav-link active" aria-current="page" href="#contato">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</div>