/* INCIO DO NAVBAR */
html body {
  max-width: 100%;
}

.nav-link {
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: solid 4px transparent;
  color: var(--light) !important;
}

.nav-link:hover {
  border-bottom: solid 4px var(--primary);
  color: var(--main-color);
}

.navbar-expand-lg {
  top: 0!important;
  transition: top 0.6s ease-in-out!important;
  z-index: 999!important;

  width: 100%;
  display: flex;
  justify-content: space-around;

  position: fixed;
  background-color: var(--primary);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
}
nav.hidden {
  top: -100%!important; /* Move o navbar para cima, ocultando-o */
}

/* Transição suave para o efeito de ocultação */


.navbar-collapse {
  flex-grow: 0 !important;
}

/* FIM DO NAVBAR */

/* icones redes */
.flex-icons {
  display: flex;
  justify-content: flex-end;
}

#ajustes {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.icons-redes a {
  font-size: 25px;
  margin-right: 15px;
}

#burger i {
  display: none;
  color: var(--light);
  margin: 15px 10px 0px 0px;
}

#burger i {
  display: none;
}

#button-login {
  background-color: rgba(255, 0, 0, 0);
  border-color: rgba(255, 0, 0, 0);
}


@media (max-width : 768px) {
  .side-bar {
    background: var(--secondary-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 10;
    margin-top: 81px;
  }

  #ajustes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
  }

  #burger i {
    display: block;
    cursor: pointer;
  }

  .nav-item a {
    display: flex;
    justify-content: center;
    display: none;
    visibility: visible;
  }


}


/* Extra Small Devices, Phones */
@media (min-width: 768px) and (max-width: 990px) {
  .side-bar {
    background: var(--secondary-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 10;
    margin-top: 113px;
  }

  .hide-menu {
    display: none;
  }


  .nav-item a {
    display: flex;
    justify-content: center;
    display: none;
    visibility: visible;
  }


  .side-item {
    display: block;
  }

  #burger i {
    display: block;
    cursor: pointer;

  }

  .navbar-expand-lg {
    width: 100%;
    opacity: 95%;

    position: fixed;
    /* top: 0;
    left: 0;
    bottom: 0; */
    z-index: 10;
  }


  #ajustes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
  }

}