<app-nav>
  <div left-content class="d-flex align-items-center">
    <a
      routerLink="/home"
      class="text-decoration-none text-dark"
      style="margin-right: 10px"
    >
      <i class="fas fa-arrow-left"></i>
    </a>
    <a class="logo" routerLink="/profile" routerLinkActive="active">
      <img
        src="../../../assets/logo-rosa.webp"
        style="width: 4em"
        alt="error"
      />
    </a>
    <h3 style="margin-bottom: 0px; margin-top: 3px; font-size: 17px">
      Professional
    </h3>
  </div>

  <div central-content></div>
  <!-- <div central-content></div> -->
  <div right-content></div>
</app-nav>


<section>
    
</section>