<section style="margin-bottom: 6em; margin-top:-2em;">
    <div>
        <app-nav>
            <a routerLink="/home" class="text-decoration-none text-dark">
                <i class="fas fa-arrow-left me-2" style="font-size: 1.5em; color: var(--primary)"></i>
            </a>
            <h3 class="m-0">Detalhes</h3>

            <i class="fas fa-question-circle" style="font-size: 1.5em; color: var(--primary)"
                title="Clique para mais informações"></i>
        </app-nav>
    </div>



    <div class="container mt-4">
        <!-- Header da tela -->
        <div class="d-flex align-items-center mb-4">
            <i class="fas fa-tools me-2" style="font-size: 2em; color: var(--primary);"></i>
            <h4 class="m-0">Reparo Hidráulico</h4>
        </div>

        <!-- Body da tela -->
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text"><strong>Número do Pedido:</strong> #12345</p>
                <p class="card-text"><strong>Data e Hora:</strong> 05/02/2025 - 14:30</p>
            </div>
        </div>

        <!-- Sessão de Resumo do Pedido -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title mb-3">Resumo do Pedido</h5>
                <p class="card-text"><strong>Serviços:</strong> Montagem e Desmontagem</p>
                <p class="card-text"><strong>Descrição:</strong>Preciso montar e desmontar um movel</p>
                <p class="card-text"><strong>Endereço:</strong> Rua Exemplo, 123 - São Paulo, SP</p>

                <!-- Vitrine de Imagens -->
                <div class="row mb-3">
                    <div class="col-12">
                        <h5 class="mb-2">Imagens Adicionadas:</h5>
                        <div class="d-flex flex-wrap gap-2">
                            <img *ngFor="let imagem of imagens" [src]="imagem" alt="Imagem do pedido"
                                class="img-thumbnail" style="width: 100px; height: 100px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Componente reutilizável de pagamento -->
        <div>
            <app-payments></app-payments>
        </div>
    </div>
</section>