h4,
span {
  color: var(--secondary) !important;
  font-weight: bold;
  font-size: 18px;
}

.modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1em;
}

/* Animação para abrir o modal de baixo para cima */
.modal-dialog-bottom {
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.modal.show .modal-dialog-bottom {
  transform: translateY(0);
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
.btn-primary-custom {
  /* Removemos o shadow-lg e usamos um preenchimento sólido */
  box-shadow: none;
  border: none;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}

.btn-primary-custom:disabled {
  background-color: #f3f4f6 !important; /* Cinza bem claro */
  color: #9ca3af !important; /* Texto cinza */
  filter: none;
  opacity: 1;
}

.footer-cancel-btn {
  background-color: white !important;
}

@media (min-width: 768px) {
  .footer-cancel-btn {
    background-color: rgba(255, 255, 255, 0) !important;
  }
}
