/* INCIO DO NAVBAR */
html body {
  max-width: 100%;
}

.nav-link {
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: solid 4px transparent;
  color: var(--secondary) !important;
}

.nav-link:hover {
  border-bottom: solid 4px var(--primary);
  color: var(--main-color);
}

.navbar-expand-lg {
  z-index: 9 !important;
  transition: top 0.6s ease-in-out !important;
  background-color: var(--light) !important;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

nav.hidden {
  top: -100% !important;
}

#big-screen {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: relative;

  z-index: 999 !important;
  transition: top 0.6s ease-in-out !important;
  /* background-color: #00000013; */
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
  position: fixed;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  position: relative;
  /* Garante controle sobre a posição dos elementos */
}

.big-screen-nav {
  display: flex !important;

}

/* FIM DO NAVBAR */

/* icones redes */
.flex-icons {
  display: flex;
  justify-content: flex-end;
}

#ajustes {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.icons-redes a {
  font-size: 25px;
  margin-right: 15px;
}

#burger i {
  /* display: none;
  color: var(--primary);
  margin: 15px 10px 0px 0px; */
  color: var(--primary);
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  /* Define um tamanho fixo para alinhamento uniforme */
  text-align: center;
  /* Centraliza o conteúdo do ícone */
}




#logo {
  width: 7em;
  left: 50%;
  /* Move o logo para o meio do container */
  font-size: 18px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  /* Remove os marcadores */
  padding-left: 0;
  /* Remove o recuo */
}




.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Espaço entre os ícones */
  padding: 8px 16px;
  background-color: white;
  border: 2px solid var(--dark); /* Cor do contorno */
  border-radius: 50px; /* Torna o contorno oval */
  color: var(--dark);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  gap: 8px;
}

.login-button i {
  font-size: 16px; /* Tamanho dos ícones */
}

.login-button:hover {
  background-color: var(--dark);
  color: white;
}



@media (max-width : 998px) {
  .side-bar {
    background: var(--light);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 1000;
    /* margin-top: 89px; */
  }

  #ajustes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
  }

  .nav-item a {
    display: flex;
    justify-content: center;
    display: none;
    visibility: visible;
  }

  #logo {
    position: absolute;
    transform: translateX(-50%);
    /* Garante que o logo esteja perfeitamente centralizado */
  }

  #big-screen {
    display: none !important;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Cor semitransparente */
    backdrop-filter: blur(5px);
    /* Aplica o desfoque */
    z-index: 999;
    /* Fica acima do conteúdo */
    /* display: none; */
  }
}


/* Extra Small Devices, Phones */
@media (min-width: 768px) and (max-width: 990px) {
  .side-bar {
    background: var(--secondary-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 10;
    margin-top: 113px;
  }

  .hide-menu {
    display: none;
  }


  .nav-item a {
    display: flex;
    justify-content: center;
    display: none;
    visibility: visible;
  }


  .side-item {
    display: block;
  }

  #burger i {
    display: block;
    cursor: pointer;

  }

  #ajustes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Cor semitransparente */
    backdrop-filter: blur(5px);
    /* Aplica o desfoque */
    z-index: 999;
    /* Fica acima do conteúdo */
    /* display: none; */
  }

  .overlay {
    display: none;
  }
}