<div
  *ngIf="openClose === true"
  (click)="openClose = false"
  class="overlay"
></div>

<nav class="navbar navbar-expand-lg fixed-top">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <!-- Slot esquerdo -->
    <div class="navbar-left">
      <ng-content select="[left-content]"></ng-content>
    </div>

    <!-- Slot central -->
    <div class="navbar-center">
      <ng-content select="[central-content]"></ng-content>
    </div>

    <!-- Slot direito -->
    <div class="navbar-right">
      <ng-content select="[right-content]"></ng-content>
    </div>
  </div>
</nav>

<!-- Conteúdo da página -->
<div class="container mt-3 pt-3"></div>
