<lib-nav>
  <div left-content>
    <a
      routerLink="/home"
      class="text-decoration-none text-dark"
      style="margin-right: 10px"
    >
      <i class="fas fa-arrow-left" style="color: var(--light)"></i>
    </a>
  </div>

  <div central-content>
    <h3 class="title-page m-0" style="color: var(--light)">Andamento</h3>
  </div>

  <div right-content>
    <i
      class="fas fa-question-circle"
      style="font-size: 1.5em; color: var(--light)"
      title="Clique para mais informações"
    ></i>
  </div>
</lib-nav>

<div id="my-budgets" class="container mt-2 max-w-4xl mx-auto lg:px-8">
  <div class="container" *ngIf="isLoading">
    <app-card-skeleton *ngFor="let i of [1, 2, 3, 4]"></app-card-skeleton>
  </div>
  
  <div class="row g-3 m-0 p-0">
    <div class="col-12 m-0 p-0" *ngFor="let c of card; let i = index">
      <div
        class="col-12 m-0 p-0"
        style="margin-bottom: 20px !important"
        *ngFor="let candidatura of c.candidaturas; let j = index"
      >
        <!-- CARD reaproveitando lib-card-layout -->
        <lib-card-layout
          [statusPedido]="c.status_pedido"
          [cardTemplateIndicator]="2"
        >
          <!-- HEADER -->
          <div service-icon>
            <i
              [class]="c.icon"
              class="text-2xl"
              style="color: var(--light)"
            ></i>
          </div>

          <div service-title>
            {{ c.categoria }}
          </div>

          <div service-address>
            <i
              class="fas fa-map-marker-alt text-xs mr-1"
              style="font-size: 12px"
            ></i>
            {{ c.address.city }}, {{ c.address.state }}
          </div>

          <i
            details-btn
            (click)="goToDetails(c.id_pedido)"
            class="fa-solid fa-magnifying-glass cursor-pointer"
            style="color: var(--primary) !important"
          ></i>

          <!-- BODY -->
          <div info-row>
            <div
              class="d-flex"
              (click)="
                goToPrestadorDetail(candidatura.prestador_id, c.id_pedido)
              "
              style="cursor: pointer"
            >
              <div class="request-card-icon">
                <img
                  [src]="
                    !prestadorInfos?.foto
                      ? '../../../assets/img-default.webp'
                      : prestadorInfos?.foto
                  "
                  alt="foto do prestador"
                  class="img-fluid"
                  style="width: 48px; height: 48px; border-radius: 50%"
                />
              </div>

              <div class="ms-2">
                <div class="d-flex align-items-center gap-2">
                  <h5 class="m-0 capitalize">
                    {{ prestadorInfos?.nome }}
                  </h5>
                  <i class="fas fa-star text-warning"></i>
                  <p class="m-0 text-secondary">
                    {{ prestadorInfos?.avaliacao || "—" }}
                  </p>
                </div>
                <p style="color: var(--premium) !important">
                  Prestador Premium
                </p>
              </div>
            </div>

            <div
              class="d-flex justify-content-start align-items-start flex-column gap-2 mt-3"
            >
              <h2 class="fs-4 fw-bold text-truncate">
                {{
                  c.chargeInfos?.total_amount
                    | currency : "BRL" : "symbol" : "1.2-2"
                }}
              </h2>
              <h2 class="fs-6 fw-semibold text-truncate text-gray-600">
                {{ formatarHorario(c) }}
              </h2>
            </div>
          </div>

          <div order-number>#{{ c.id_pedido }}</div>

          <!-- DESCRIPTION -->
          <div description class="text-gray-500 text-sm">
            Acompanhe o andamento do seu serviço ou veja mais detalhes.
          </div>

          <!-- FOOTER -->
          <button
            main-btn
            class="request-quote-btn"
            style="
              color: var(--primary);
              background-color: var(--light) !important;
              border: 1px solid var(--primary);
              width: 100% !important;
            "
            (click)="goToDetails(c.id_pedido)"
          >
            Detalhes
          </button>

          <button
            price
            class="request-quote-btn"
            style="
              background-color: var(--primary);
              color: white;
              width: 100% !important;
            "
            (click)="startCard(c.id_pedido)"
          >
            Acompanhar
          </button>
        </lib-card-layout>
      </div>
    </div>

    <!-- EXCEÇÃO QUANDO NÃO HOUVER PEDIDOS -->
    <div
      *ngIf="card.length === 0"
      class="d-flex align-items-center justify-content-center"
      style="height: 68vh"
    >
      <div class="d-flex flex-column align-items-center gap-3">
        <i class="fas fa-file-lines" style="font-size: 5em"></i>
        <p class="fs-3">Você ainda não possui negociações</p>
        <button class="btn btn-outline-primary mt-3" routerLink="/">
          Anúnciar Grátis
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container mt-5 pt-5"></div> -->
