<section id="reviews container" class="spacement">
  <div
    id="content-div"
    class="content container"
    data-aos="fade-right"
    data-aos-duration="300"
  >
    <h1>
      Veja o que <span class="highlight">nossos</span><br />
      <span class="highlight">clientes</span> estão dizendo
    </h1>
  </div>

  <div
    id="feedback-carousel"
    class="container py-5 desktop-tablet"
    style="padding: 15px"
    data-aos="fade-down"
    data-aos-duration="300"
  >
    <div id="review-header" class="container">
      <div>
        <div class="d-flex align-items-center">
          <img
            src="../../../assets/google-icon.webp"
            class="img-fluid"
            style="width: 7em"
            alt=""
          />
          <h4>Avaliações</h4>
        </div>

        <!-- Estrelas -->
        <div id="google-stars" class="stars mt-3 d-flex align-items-center">
          <h4 class="mt-1" style="margin-right: 10px">5.0</h4>
          <ng-container *ngFor="let star of getStars(5)">
            <i class="fas fa-star text-warning"></i>
          </ng-container>
        </div>
      </div>

      <div class="button-container d-flex justify-content-end mt-4">
        <a
          href="https://www.google.com/search?hl=pt-BR&gl=br&q=Molinari+Details+-+R.+Lav%C3%ADnia+Ribeiro,+53a+-+Vila+Diva+(Zona+Leste),+S%C3%A3o+Paulo+-+SP,+03351-110&ludocid=16277086120139314618&lsig=AB86z5V4fAXtr21lj_rts62Ep0x#lrd=0x94ce5d8ecb0218ad:0xe1e3d396295855ba,3"
          class="custom-button btn btn-primary"
          target="_blank"
          rel="noopener noreferrer"
        >
          Avalie-nos no Google
        </a>
      </div>
    </div>
    <div id="carouselFeedbacks" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let group of feedbackGroups; let i = index"
          [class.active]="i === 0"
        >
          <div class="row">
            <div
              class="col-lg-4 col-md-6 col-sm-12"
              *ngFor="let feedback of group"
            >
              <div class="card-review p-3 cards-decoration-border h-100">
                <!-- h-100 do Bootstrap -->
                <div
                  class="card-body d-flex flex-column justify-content-between h-100"
                >
                  <!-- Foto circular -->
                  <div class="feedback-header d-flex align-items-center">
                    <div class="feedback-photo">
                      <img
                        [src]="feedback.photoUrl"
                        alt="Foto de {{ feedback.client }}"
                        class="img-fluid"
                      />
                    </div>
                    <h5 class="card-title ms-3">{{ feedback.client }}</h5>
                  </div>

                  <!-- Comentário -->
                  <p class="card-text mt-3">{{ feedback.text }}</p>

                  <!-- Estrelas -->
                  <div class="stars mt-3">
                    <ng-container
                      *ngFor="let star of getStars(feedback.rating)"
                    >
                      <i class="fas fa-star text-warning"></i>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        style="margin-left: -32px"
        type="button"
        data-bs-target="#carouselFeedbacks"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button
        class="carousel-control-next"
        style="margin-right: -32px"
        type="button"
        data-bs-target="#carouselFeedbacks"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
  </div>

  <!-- CARROSSEL PARA MOBILE -->

  <div id="feedback-carousel" class="container py-5 md:hidden">
    <div id="review-header" class="container mb-4">
      <div>
        <div class="d-flex align-items-center">
          <img
            src="../../../assets/google-icon.webp"
            class="img-fluid"
            style="width: 7em"
            alt=""
          />
          <h4>Avaliações</h4>
        </div>

        <div id="google-stars" class="stars mt-3 d-flex align-items-center">
          <h4 class="mt-1" style="margin-right: 10px">5.0</h4>
          <ng-container *ngFor="let star of getStars(5)">
            <i class="fas fa-star text-warning"></i>
          </ng-container>
        </div>
      </div>

      <div class="button-container d-flex justify-content-end mt-4">
        <a
          href="https://www.google.com/search?hl=pt-BR&gl=br&q=Molinari+Details+-+R.+Lav%C3%ADnia+Ribeiro,+53a+-+Vila+Diva+(Zona+Leste),+S%C3%A3o+Paulo+-+SP,+03351-110&ludocid=16277086120139314618&lsig=AB86z5V4fAXtr21lj_rts62Ep0x#lrd=0x94ce5d8ecb0218ad:0xe1e3d396295855ba,3"
          class="custom-button btn btn-primary btn-lg"
          target="_blank"
          rel="noopener noreferrer"
        >
          Avalie-nos no Google
        </a>
      </div>
    </div>
    <div id="carouselFeedbacks2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let feedback of feedbacks; let i = index"
          [class.active]="i === 0"
        >
          <div class="card-review">
            <div class="card-body">
              <!-- Foto do Cliente -->
              <div class="d-flex align-items-center mb-3">
                <img
                  [src]="feedback.photoUrl"
                  alt="Foto de {{ feedback.client }}"
                  class="rounded-circle"
                  width="40"
                  height="40"
                />
                <h5 class="card-title ms-3">{{ feedback.client }}</h5>
              </div>
              <!-- Comentário -->
              <p class="card-text">{{ feedback.text }}</p>
              <!-- Estrelas de Avaliação -->
              <div class="stars">
                <ng-container
                  *ngFor="
                    let star of [].constructor(feedback.rating);
                    let idx = index
                  "
                >
                  <i
                    class="fa fa-star text-warning"
                    [class.filled]="idx < feedback.rating"
                  ></i>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselFeedbacks2"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button
        style="right: 25px !important; color: red !important;"
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselFeedbacks2"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
  </div>
</section>
