<div class="pt-3 pb-4">
  <div class="bg-overlay d-flex align-items-center mt-5 mb-4 container">
    <div class="d-flex justify-content-center">
      <div>
        <p class="title-detail text-center" style="color: white !important">
          Não perca mais tempo
        </p>
        <div data-aos="fade-down" data-aos-duration="300">
          <h2 class="text-center mb-4" style="color: white !important">
            Faça um agendamento
          </h2>
          <div
            class="d-flex justify-content-center"
            data-aos="fade-left"
            data-aos-duration="600"
          >
            <!-- <app-wpp-btn></app-wpp-btn> -->
            <button class="btn btn-primary">Saiba mais</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-12 space">
      <div class="text-center">
        <h1 class="text-center">Tudü que você precisa dentro de um app!</h1>
        <h2
          class="text-muted text-center"
          style="color: var(--secondary) !important"
        >
          Anuncie um serviço e escolha o profissional <br />que mais se adequar!
        </h2>
      </div>
    </div> -->
