<section style="height: auto">
  <lib-nav>
    <div left-content>
      <a (click)="backToHome()" class="text-decoration-none text-dark">
        <i class="fas fa-arrow-left" style="color: var(--light)"></i>
      </a>
    </div>
    <div central-content>
      <h3 class="title-page m-0" style="color: var(--light)">Orçamentos</h3>
    </div>
    <div right-content>
      <i
        class="fas fa-question-circle"
        style="font-size: 1.5em; color: var(--light)"
        title="Clique para mais informações"
      ></i>
    </div>

    <div
      header-menu
      style="background-color: var(--background) !important"
      class="service-card-header md:hidden flex items-center justify-between p-3 border-b border-gray-200"
    >
      <div class="flex items-center gap-3">
        <div class="icon-style">
          <div>
            <i
              [class]="card?.icon"
              class="text-2xl"
              style="color: var(--light)"
            ></i>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex items-center gap-3">
            <div class="service-title truncate w-full">
              <div>
                {{ card?.categoria }}
              </div>
            </div>
          </div>
          <div
            class="whitespace-nowrap overflow-hidden text-ellipsis"
            style="font-size: 12px; color: var(--tab-link)"
          >
            <div>
              <i
                class="fas fa-map-marker-alt text-xs mr-1"
                style="font-size: 12px"
              ></i>
              {{ card?.address?.city }}, {{ card?.address?.state }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </lib-nav>

  <!-- <div id="budgets" class="container" *ngIf="cards?.candidaturas?.length > 0">
    <h4 class="text-start">Meus orçamentos</h4>
  </div> -->

  <div
    id="my-budgets"
    class="container mt-5 pt-5 max-w-4xl mx-auto lg:px-8"
    *ngIf="!paymentStep"
  >
    <div class="row g-3 m-0 p-0">
      <div
        class="col-12 m-0 p-0"
        *ngFor="let candidatura of card?.candidaturas; let i = index"
      >
        <!-- Card de candidatura dentro do lib-card-layout -->
        <lib-card-layout
          [statusPedido]="card.status_pedido"
          [cardTemplateIndicator]="2"
          [hideHeader]="true"
        >
          <!-- HEADER -->
          <div service-icon class="cursor-pointer">
            <i
              [class]="card.icon"
              class="text-2xl"
              style="color: var(--light)"
            ></i>
          </div>

          <div service-title>
            {{ card.categoria }}
          </div>

          <div service-address>
            <i
              class="fas fa-map-marker-alt text-xs mr-1"
              style="font-size: 12px"
            ></i>
            {{ card.address?.city }}, {{ card.address?.state }} -
            {{ card.address?.neighborhood }}
          </div>

          <!-- BODY -->
          <div info-row>
            <div
              class="d-flex"
              style="cursor: pointer"
              (click)="
                goToPrestadorDetail(candidatura.prestador_id, card.id_pedido)
              "
            >
              <div class="request-card-icon">
                <img
                  [src]="
                    !candidatura.prestador_info?.foto
                      ? '../../../assets/img-default.webp'
                      : candidatura.prestador_info?.foto
                  "
                  alt="foto do prestador"
                  class="img-fluid"
                  style="width: 48px; height: 48px; border-radius: 50%"
                />
              </div>

              <div class="ms-2">
                <div class="d-flex align-items-center gap-2">
                  <h5 class="m-0 capitalize">
                    {{ candidatura.prestador_info?.nome }}
                  </h5>
                  <i class="fas fa-star text-warning"></i>
                  <p class="m-0 text-secondary">
                    {{ candidatura.prestador_info?.avaliacao || "—" }}
                  </p>
                </div>
                <p style="color: var(--premium) !important">
                  Prestador Premium
                </p>
              </div>
            </div>

            <div
              class="d-flex justify-content-start align-items-start flex-column gap-2 mt-3"
            >
              <h2 class="fs-4 fw-bold text-truncate">
                {{
                  candidatura.valor_negociado
                    | currency : "BRL" : "symbol" : "1.2-2"
                }}
              </h2>
              <h2 class="fs-6 fw-semibold text-truncate text-gray-600">
                {{
                  candidatura.horario_negociado | date : "dd/MM/yyyy - HH:mm"
                }}
              </h2>
            </div>
          </div>

          <div order-number>#{{ card.id_pedido }}</div>

          <!-- DESCRIPTION (opcional) -->
          <div
            description
            class="text-gray-500 text-sm cursor-pointer"
            (click)="
              goToPrestadorDetail(candidatura.prestador_id, card.id_pedido)
            "
          >
            Clique para ver mais detalhes sobre o prestador.
          </div>

          <!-- FOOTER -->
          <!-- <button
            main-btn
            class="request-quote-btn"
            style="
              color: var(--primary);
              background-color: var(--light) !important;
              border: 1px solid var(--primary);
              width: 100% !important;
            "
            (click)="updateCard(card, 'recusar', candidatura.prestador_id)"
          >
            Recusar
          </button> -->

          <button
            main-btn
            class="request-quote-btn"
            style="
              color: var(--primary);
              background-color: var(--light) !important;
              border: 1px solid var(--primary);
              width: 100% !important;
            "
            (click)="updateCard(card, 'recusar', candidatura.prestador_id)"
          >
            Recusar
            <span
              *ngIf="!processingBudget"
              style="color: white !important"
            ></span>
            <span
              *ngIf="processingBudget"
              class="flex items-center justify-center"
              style="color: white !important"
            >
              <i
                class="fas fa-circle-notch fa-spin mr-2"
                style="color: white !important"
              ></i>
              Aguarde...
            </span>
          </button>

          <button
            price
            class="request-quote-btn"
            style="
              background-color: var(--primary);
              color: white;
              width: 100% !important;
            "
            (click)="goToPayment(card, candidatura.prestador_id)"
          >
            Contratar
          </button>
        </lib-card-layout>
      </div>
    </div>
  </div>

  <div>
    <app-payment
      *ngIf="paymentStep"
      [clientData]="clientData"
      [hiredCardInfo]="hiredCardInfo"
      [hiredCard]="card"
      [selectedCandidatura]="selectedCandidatura"
      (payHiredCard)="payHiredCard($event)"
      (backToOffer)="backToOffer($event)"
    ></app-payment>
  </div>
</section>
<div
  *ngIf="card?.candidaturas?.length === 0"
  class="d-flex align-items-center justify-content-center"
  style="height: 68vh"
>
  <div class="d-flex flex-column align-items-center gap-3">
    <i class="fas fa-file-lines" style="font-size: 5em"></i>
    <p class="fs-3">Sem propostas por aqui :(</p>
    <!-- <button class="btn-ui btn-primary mt-3 send-btn" (click)="goToShowcase()">
      Anúnciar Gratís
    </button> -->
  </div>
</div>

<!-- Modal  -->
<app-custom-modal #meuModal (click)="closeModal()"></app-custom-modal>

<!-- Conteúdo da página -->
<div class="container mt-5 pt-5"></div>
