<lib-nav>
  <div left-content>
    <a routerLink="/" class="transition-colors mr-3">
      <i
        style="color: var(--light) !important"
        class="fas fa-arrow-left text-2xl"
      ></i>
    </a>
  </div>

  <div central-content>
    <a routerLink="/" class="block">
      <img
        src="../../../assets/logo-branco.webp"
        style="width: 4em"
        alt="error"
      />
    </a>
  </div>

  <div right-content>
    <i
      style="color: var(--light) !important"
      class="fas fa-question-circle text-2xl cursor-pointer"
      title="Clique para mais informações"
    ></i>
  </div>

  <div header-menu>
    <div class="tab-bar hr-nav-bottom">
      <a
        *ngFor="let item of headerPageOptions; let i = index"
        class="tab-link"
        [class.active]="selectedIndex === i"
        (click)="selectItem(i)"
      >
        {{ item }}
      </a>
      <div
        class="tab-indicator"
        [ngStyle]="{
          transform: 'translateX(' + selectedIndex * 100 + '%)',
          width: 100 / headerPageOptions.length + '%'
        }"
      ></div>
    </div>
  </div>
</lib-nav>

<section class="max-w-4xl mx-auto lg:px-8 mt-12">
  <div class="container" *ngIf="isLoading">
    <app-card-skeleton *ngFor="let i of [1, 2, 3, 4]"></app-card-skeleton>
  </div>

  <!-- Template Unificado -->
  <div class="container mx-auto" *ngIf="cards.length > 0 || isLoading">
    <div class="row g-3 m-0 p-0">
      <!-- PEDIDOS ATIVOS (selectedIndex === 0) -->
      <ng-container *ngIf="selectedIndex === 0">
        <div class="col-12 m-0 p-2" *ngFor="let card of cards">
          <lib-card-layout
            [statusPedido]="card.status_pedido"
            [cardTemplateIndicator]="1"
          >
            <!-- Header -->
            <div
              service-icon
              class="cursor-pointer"
              (click)="goToDetails(card.id_pedido)"
            >
              <i
                [class]="card.icon"
                class="text-2xl"
                style="color: var(--light) !important"
              ></i>
            </div>

            <div
              service-title
              (click)="goToDetails(card.id_pedido)"
              class="cursor-pointer"
            >
              <div>{{ card.categoria }}</div>
            </div>

            <div service-address>
              <i
                class="fas fa-map-marker-alt text-xs mr-1"
                style="font-size: 12px; color: var(--primary) !important"
              ></i>
              {{ card.address.city }}, {{ card.address.state }}
            </div>
            <i
              details-btn
              (click)="goToDetails(card.id_pedido)"
              class="fa-solid fa-magnifying-glass cursor-pointer"
              style="color: var(--primary) !important"
            ></i>

            <div order-number>#{{ card.id_pedido }}</div>

            <!-- Status e Tags -->
            <div status-badge class="status-badge">
              <i class="fas fa-circle text-xs mr-1 notification-pulse"></i>
              {{ card.status_pedido | titlecase }}
            </div>

            <div
              *ngFor="let filtro of card.subcategoria.split(',')"
              filter-tag
              class="filter-tag"
            >
              {{ filtro.trim() }}
            </div>

            <!-- Info e Descrição -->
            <div info-row class="info-row flex justify-between">
              <span class="info-label" style="color: var(--tab-link)"
                >Data de início:</span
              >
              <span class="info-value fw-semibold">{{
                card.horario_preferencial | date : "dd/MM/yyyy"
              }}</span>
            </div>

            <div description class="description text-gray-700">
              {{ card.serviceDescription }}
            </div>

            <!-- Footer -->
            <!-- <button
              details-btn
              class="details-btn"
              (click)="goToBudgets(card.id_pedido)"
            >
              <i class="fas fa-chevron-right text-xs"></i> Detalhes
            </button> -->

            <button
              main-btn
              style="width: 100%"
              class="request-quote-btn btn-soft-glow-enhanced text-xs sm:text-sm md:text-base whitespace-nowrap overflow-hidden"
              routerLinkActive="active"
              (click)="goToBudgets(card.id_pedido)"
              *ngIf="card.candidaturas.length > 0; else semQuotes"
            >
              Oba! Orçamentos ({{ card.candidaturas.length }})
              <span
                *ngIf="card.temNovaCandidatura"
                class="badge-novo"
                (click)="card.temNovaCandidatura = false"
                >Novo</span
              >
            </button>
            <ng-template #semQuotes>
              <span
                class="request-quote-btn disabled-card bg-secondary text-center text-xs sm:text-sm md:text-base whitespace-nowrap overflow-hidden text-ellipsis"
                style="width: 100%"
              >
                Aguardando uma proposta
              </span>
            </ng-template>

            <div price>{{ card.valor | currency : "BRL" }}</div>
          </lib-card-layout>
        </div>
      </ng-container>

      <!-- PEDIDOS FINALIZADOS (selectedIndex === 1) -->
      <ng-container *ngIf="selectedIndex === 1">
        <div class="col-12 m-0 p-2" *ngFor="let card of cards">
          <ng-container *ngFor="let candidatura of card.candidaturas">
            <lib-card-layout
              [statusPedido]="card.status_pedido"
              [cardTemplateIndicator]="1"
            >
              <!-- Header -->
              <div
                service-icon
                (click)="goToDetails(card.id_pedido)"
                class="cursor-pointer"
              >
                <i
                  [class]="card.icon"
                  class="text-2xl"
                  style="color: var(--light) !important"
                ></i>
              </div>

              <div
                service-title
                (click)="goToDetails(card.id_pedido)"
                class="cursor-pointer"
              >
                <div class="font-semibold">{{ card.categoria }}</div>
              </div>

              <div service-address>
                {{ card.address.city }}, {{ card.address.state }} -
                {{ card.address.neighborhood }}
              </div>

              <i
                details-btn
                (click)="goToDetails(card.id_pedido)"
                class="fa-solid fa-magnifying-glass cursor-pointer"
                style="color: var(--primary) !important"
              ></i>

              <div order-number>#{{ card.id_pedido }}</div>

              <!-- Status -->
              <div status-badge class="status-badge">
                <i class="fas fa-check-circle text-xs"></i> Concluído
              </div>

              <div conclusion-date>
                <span class="info-value">Em {{ formatarHorario(card) }}</span>
              </div>

              <div description class="description">
                <p style="margin-bottom: -1px" class="mt-2">Descrição</p>
                <p>{{ card.subcategoria }}</p>
                <p>{{ card.serviceDescription }}</p>
              </div>

              <!-- Footer -->

              <button
                main-btn
                style="width: 100%"
                class="request-quote-btn text-xs sm:text-sm md:text-base whitespace-nowrap overflow-hidden text-ellipsis"
                routerLinkActive="active"
                (click)="goToDetails(card.id_pedido)"
              >
                Detalhes do pedido
              </button>

              <div price>
                {{ card.chargeInfos?.total_amount | currency : "BRL" }}
              </div>
            </lib-card-layout>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Mensagem quando não há cards -->
  <div
    *ngIf="cards.length === 0 && !isLoading"
    class="d-flex align-items-center justify-content-center mt-5 pt-5"
    style="height: 68vh"
  >
    <div class="d-flex flex-column align-items-center gap-3">
      <i
        class="fas fa-file-lines"
        style="font-size: 5em; color: var(--tag-p-grey)"
      ></i>
      <p class="fs-3">
        {{
          selectedIndex === 0
            ? "Você ainda não possui pedidos ativos"
            : "Nenhum pedido finalizado"
        }}
      </p>
      <button
        *ngIf="selectedIndex === 0"
        class="btn btn-primary mt-3"
        routerLink="/tudu-professional/home"
      >
        Buscar serviços
      </button>
    </div>
  </div>
</section>

<!-- <a (click)="scrollUp()" class="btn-topo md:hidden"> &#x2191; </a> -->
<div class="mt-5 pt-3"></div>
