<section>
    <app-nav>
        <a routerLink="/" class="logo">
            <img src="../../../assets/logo-rosa.webp" class="img-fluid" style="width: 4em;" alt="error" />
        </a>

        <div></div>

        <!-- Botão de login -->
        <a routerLink="/login" class="login-button">
            <i class="fas fa-bars"></i>
            <i class="fas fa-user fs-3"></i>
        </a>
    </app-nav>

    <div class="container">
        <h4 class="text-start">Meus pedidos</h4>
        <hr>
    </div>

    <div id="desktop" class="d-md-block d-none mb-md-5">
        <div id="header-desktop" class="container">
            <div class="d-flex justify-content-between">
                <a class="a-selected">Publicados(3)</a>
                <a>Em Andamento(0)</a>
                <a>Finalizados(0)</a>
            </div>
        </div>
    </div>


    <!-- <div id="home-mobile" class="d-block d-md-none">

        <app-menu></app-menu>
    </div>
 -->

    <div id="my-orders" class="container">
        <div class="row g-3 m-0 p-0"> <!-- Linha Bootstrap com espaçamento -->
            <div class="col-12 col-md-6 col-lg-6 m-0 p-0" *ngFor="let card of cards"> <!-- Colunas responsivas -->
                <div class="request-card">
                    <div class="request-card-header">
                        <div class="request-card-icon">
                            <i [class]="card.icon"></i>
                        </div>
                        <div class="request-card-title">
                            <div class="d-flex align-items-center">
                                <h5>{{ card.serviceName }} </h5>
                                <div>&nbsp;•&nbsp;</div>
                            </div>
                            <p class="request-card-description truncate-text">{{ card.address }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="request-card-body">
                        <p class="request-card-number">Pedido #{{ card.id }}</p>
                        <p class="request-card-description truncate-text">{{ card.description }}</p>
                    </div>
                    <hr>
                    <div class="request-card-footer d-flex justify-content-between">
                        <a href="#" class="request-card-link" routerLink="/home/detail">Detalhes</a>
                        <button class="request-quote-btn" routerLink="/home/budgets"
                            *ngIf="card.hasQuotes; else semQuotes">
                            Oba! Orçamentos disponíveis
                        </button>
                        <ng-template #semQuotes>
                            <span class="request-quote-btn disabled-card bg-secondary">
                                Aguardando uma proposta
                            </span>
                        </ng-template>
                    </div>


                    <!-- <div class="request-card-footer d-flex gap-2">
                        <button href="#" style="background-color: var(--dark); color: var(--light);"
                            class="request-quote-btn col-6">Detalhes</button>

                        <button class="request-quote-btn col-6"
                            style="background-color: var(--primary); color: var(--light);">
                            Aceitar
                        </button>

                    </div> -->
                </div>
            </div>
        </div>
    </div>




    <div *ngIf="cards.length === 0" class="d-flex align-items-center justify-content-center" style="height: 68vh;">
        <div class="d-flex flex-column align-items-center gap-3">

            <i class="fas fa-file-lines" style="font-size: 5em;"></i>
            <p class="fs-3">Você ainda não possui anúncios</p>
            <button class="btn btn-primary mt-3 send-btn" (click)="goToShowcase()">Anúnciar Gratís</button>
        </div>
    </div>
</section>

<!-- Conteúdo da página -->
<div class="container mt-5 pt-5">
</div>