<section id="reviews">
    <div class="container">
        <div id="header-review">
            <div class="details" data-aos="fade-up" data-aos-duration="350">
                <h1>10+</h1>
                <p>ANOS DE SERVIÇO</p>
            </div>
            <div class="details" data-aos="fade-up" data-aos-duration="650">
                <h1>10+</h1>
                <p>CLIENTES FELIZES</p>
            </div>
            <div class="details" data-aos="fade-up" data-aos-duration="950">
                <h1>10+</h1>
                <p>SATISFAÇÃO DO CLIENTE</p>
            </div>
        </div>
    </div>

    <div id="spacement">

        <div id="cardCarousel" class="carousel slide"  data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
            <!-- Indicators (optional) -->
            <ol class="carousel-indicators">
                <li data-bs-target="#cardCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#cardCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#cardCarousel" data-bs-slide-to="2"></li>
            </ol>


            <div id="content-div" class="content container spacement" data-aos="fade-right" data-aos-duration="1500">
                <h1>
                    Veja o que <span class="highlight">nossos</span><br />
                    <span class="highlight">clientes</span> estão dizendo
                </h1>
            </div>



            <!-- Carousel Items -->
            <div class="carousel-inner container" data-aos="fade-up" data-aos-duration="2000">

                <div class="review-btn">
                    <a class="btn-review btn-primary btn-lg ui-button" href="#cardCarousel" role="button"
                        data-bs-slide="prev" style="margin-right: 12px;">ANTERIOR
                    </a>
                    <a class="btn-review btn-primary btn-lg ui-" href="#cardCarousel" role="button"
                        data-bs-slide="next">PROXÍMO
                    </a>
                </div>

                <div class="carousel-item active">
                    <div class="cards container">

                        <div class="card-content  col-lg-8">
                            <div class="card-text">
                                <div class="card-header">
                                    <div>
                                        <h4>Ricardo Amaral</h4>
                                        <h5>Advogado</h5>
                                    </div>
                                    <div class="pb-3">
                                        <i class="fa fa-quote-left"></i>
                                    </div>
                                </div>
                                <p>
                                    "Equipe atenciosa e serviço impecável. Meu carro nunca esteve tão bonito. Indico
                                    para todos!"
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img src="../../../assets/client1.svg" class="img-fluid review-img" alt="">
                        </div>
                    </div>
                </div>

                <div class="carousel-item" *ngFor="let card of cards">
                    <div class="cards container">
                        <div class="card-content  col-lg-8">
                            <div class="card-text">
                                <div class="card-header">
                                    <div>
                                        <h4>{{ card.name }}</h4>
                                        <h5>{{ card.ocupation }}</h5>
                                    </div>
                                    <div class="pb-3">
                                        <i class="fa fa-quote-left"></i>
                                    </div>
                                </div>
                                <p>
                                    {{ card.review }}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img src="{{ card.imgSrc }}" class="img-fluid review-img" style="width: 100%;" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>